//Variables
$red: #fe1a55;
$blue: #00aaf7;
$yellow:#f9ee60;
$black: #000;
$white: #fff;

//fuentes 
$paragraph: 'Montserrat', sans-serif;
$title: 'Rammetto One', cursive;
$pressStart: 'Press Start 2P', cursive;

